*{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}
.s1{
    background-color: rgba(249, 235, 220, 0.514);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    flex-direction: column;
    gap: 80px;
    margin: auto;
    .icons{
        font-size: 27px;
        color: #FB5849;
    }
    .text{
        width: 25%;
        margin-left: -590px;
        h4{
            color: #FB5849;
            font-weight: 300;
            span{
                text-decoration: line-through;
                color:rgba(249, 235, 220, 0.514) ;
                text-decoration-color:#FB5849 ;
                margin-right: 10px;
            }

        }
        h1{
            font-weight: 900;
            margin-right: 40px;
            margin-top: 20px;
            font-size: 29px;
        }
    }
    .boxes{
        width: 100%;
        display: flex;
        justify-content: space-around;
        gap: 20px;
        div{
            width: 18%;
            background-color: #FB5849;
            height: 320px;
            position: relative;
            img{
                width: 100%;
                height: 100%;
            }
            .text1{
                width: 20%;
                height: 15%;
                position: absolute;
                top: 0;
                left: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
            }
            .text2{
                position: absolute;
                width: 100%;
                height: 15%;
                bottom: 0;
                left: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                font-size: 20px;
                &:hover{
                    height:28%;
                    transition: .7s;
                    transition-duration: .2s;
                }
            }
            
        }

    }
}
.s2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    flex-direction: row;
    gap: 140px;
    margin: auto;
    .left{
        width: 32%;
        .text{
            width:85%;
            margin-bottom: 30px;
           h4{
                color: #FB5849;
                font-weight: 300;
                span{
                    text-decoration: line-through;
                    color:white;
                    text-decoration-color:#FB5849 ;
                    margin-right: 10px;
                }
    
            }
            h1{
                font-weight: 900;
                
                margin-top: 20px;
                font-size: 39px;
            }
        }
        .boxes{
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-top: 50px;
           
            div{
                width: 26%;
                height: 120px;
                background-color: #FB5849;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    .right{
        width: 35%;
        height: 480px;
        background-color: blue;
        border-radius: 5px;
        position: relative;
        img{
            width: 100%;
            height: 100%;
            border-radius: 5px;
        

        }
        .play{
            position: absolute;
            font-size: 70px;
            color: #FB5849;
            top: 45%;
            left: 43%;
            &:hover{
                opacity: 0.5;
                transition: .3s;
                cursor: pointer;
            }
            
        }
    }
}
.s3{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    flex-direction: row;
    background-image: url(https://templatemo.com/templates/templatemo_558_klassy_cafe/assets/images/reservation-bg.jpg);
    gap: 80px;
    margin: auto;
    .left{
        width: 38%;
        color: white;
        .text{
            width:100%;
            margin-bottom: 30px;
            color: white;
           h4{
                color: white;
                font-weight: 300;
                span{
                    text-decoration: line-through;
                    color:white;
                    text-decoration-color:white;
                    margin-right: 10px;
                }
    
            }
            h1{
                font-weight: 900;
                
                margin-top: 20px;
                font-size: 35px;
            }
        }
        .boxes{
            display: flex;
            justify-content:center;
            width: 100%;
            margin-top: 50px;
            gap: 50px;
            div{
                width: 45%;
                height: 150px;
                background-color: white;
                border-radius: 5px;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                h1{
                    color: black;
                    margin-top: 26px;
                    margin-bottom: 15px;
                }
                p{
                    color:black ;
                }
               .circle{
                position: absolute;
                background-color: #FB5849;
                width: 80px;
                height: 80px;
                border-radius: 9999px;
                
                top:-40px;
                font-size: 24px;
            }  
            }
           
        }
    }

    .right{
        width: 35%;
        height: 480px;
        background-color: white;
        border-radius: 5px;
        position: relative;
       display: flex;
       align-items: center;
       gap: 26px;
       flex-direction: column;
       h1{
        margin-top: 40px;
        font-size: 28px;
       }
       .inputs{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
       }
       #mesag{
            width: 87%;
            height: 140px;
        }
       input{
        width: 40%;
        padding: 10px 12px;
        border-radius: 5px;
        border: 1px solid rgba(128, 128, 128, 0.384);
        
       }
    }
    button{
        width: 92%;
        margin-bottom:40px;
        padding: 10px;
        color: white;
        background-color: #FB5849;
        border: none;
        font-size: 15px;
        &:hover{
            cursor: pointer;
            transition: .5s;
            background-color: #fb5849a0;
        }
    }
}

@media screen and (max-width:768px) {
    .s1{
        .text{
            margin: auto;
            padding: 0;
            width: 90%;
        }
        .boxes{
            div{
                display: none;
            }
            #N1{
                display: block;
                width: 90%;
            }
        }
    }
    .s2{
        margin: 0;
        flex-direction: column ;
        gap: 0;
        padding: auto;
        .left{
            width: 90%;
            .boxes{
                width: 100%;
                div{
                    width: 100%;
                    
                }
            }

        }
        .right{
            width: 90%;
            padding: 0;
        }
    }
    .s3{
        flex-direction: column;
        .left{
            width: 90%;
        }
        .right{
            width: 90%;
            #mesag{
                height: 0;
            }
        }
    }

}
